@import '../../../../../scss/main';

:host {
    height: calc(60% - 14px); // for the resize handle
    display: block;

    .monaco-toolbar {
        background-color: $code-bg-color;
        padding: 5px 15px 30px 42px;

        fa {
            color: $accent-color;
        }

        button {
            background: none;
            border: 0;
            color: $text-color;
            box-shadow: none;
            text-shadow: none;
            font-family: $default-font;
            font-size: 11px;
            font-weight: normal;

            fa {
                margin-right: 4px;
            }
        }
    }

    .monaco-container {
        height: 100%;

        .monaco-editor {
            height: calc(100% - 62px); // 62px for the toolbar
            background-color: $code-bg-color;

            /deep/ {
                .monaco-editor.vs-dark, .monaco-editor-background {
                    background-color: $code-bg-color;
                }
            }
        }
    }
}
