@import '../../../scss/main';

$active-link-border-width: 5px;

.navbar-default {
    background: $navbar-bg-color;
    margin: 0;
    padding-left: 40px;
    border: 0;
    border-radius: 0;

    .navbar-brand {
        text-transform: uppercase;
        color: $text-color;
        padding-left: 12px;
    }

    .navbar-nav > li > a {
        color: $text-color;
        padding-bottom: 10px;

        &.router-link-active {
            padding-bottom: 6px;
            border-bottom: $active-link-border-width solid $accent-color;
        }

        &:focus, &:hover {
            color: $text-highlight-color;
            padding-bottom: 6px;
            border-bottom: $active-link-border-width solid lighten($accent-color, 5%);
        }
    }

    .navbar-toggle {
        margin-bottom: 0;
    }
}
