@import '../../../scss/main';

$active-link-border-width: 4px;

.navbar-default {
    background: $navbar-bg-color;
    margin: 0;
    padding-left: 40px;
    border: 0;
    border-radius: 0;

    .navbar-brand {
        font-family: $thin-font;
        text-transform: uppercase;
        color: $text-color;
        padding-left: 12px;
        text-shadow: none;
    }

    .navbar-nav > li {
         margin-top: 0;

         > a {
             color: $text-color;
             text-shadow: none;

             &.router-link-active {
                 padding-bottom: 15px - $active-link-border-width;
                 border-bottom: $active-link-border-width solid $accent-color;
             }

             &:focus, &:hover {
                 color: $text-highlight-color;
                 padding-bottom: 15px - $active-link-border-width;
                 border-bottom: $active-link-border-width solid lighten($accent-color, 5%);
             }
         }
    }

    .navbar-toggle {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .navbar-default .navbar-nav > li > a {
        &.router-link-active, &:focus, &:hover {
            padding-bottom: 10px;
            border-bottom: none;
            color: $accent-color;
        }

        &:focus, &:hover {
            color: lighten($accent-color, 5%);
        }
    }
}
