$error-color: #d24b4b;
$warning-color: #ffcc00;

$navbar-bg-color: #3b404b;
$panel-bg-color: #2b2f3a;
$code-bg-color: #22252e;
$footer-bg-color: #0f1b27;

$text-color: #f4f4f4;
$text-highlight-color: #ffffff;
$accent-color: #03e08a;
$secondary-accent-color: palegoldenrod;
