$error-color: #d24b4b;
$warning-color: #ffcc00;

$navbar-bg-color: #3B404C;
$panel-bg-color: #282C37;
$code-bg-color: #22252E;
$footer-bg-color: #0F1B27;

$text-color: #d9d9d9;
$text-highlight-color: #F3F3F3;
$accent-color: #03E08A;
$secondary-accent-color: palegoldenrod;
