@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'variables';


/* MISC */

strong, .strong {
    font-family: $bold-font;
    font-weight: bold;
}

.well {
    background: lighten($panel-bg-color, 10%);
    border-color: lighten($panel-bg-color, 5%);
}

/deep/ .absolutely-centered {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        transform: translate(-50%, -50%);
    }
}

/* FORMS */

.has-error .form-control {
    background-color: #ff5555;
    color: white;

    &::-webkit-input-placeholder {
       color: #b92e14;
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: #b92e14;
    }

    &::-moz-placeholder { /* Firefox 19+ */
       color: #b92e14;
    }

    &:-ms-input-placeholder {
       color: #b92e14;
    }
}

/* MODALS */

.modal-header {
    border-bottom-color: darken($panel-bg-color, 10%);
    color: $text-highlight-color;

    .close {
        color: $text-highlight-color;
    }
}

.modal-content {
    background-color: $panel-bg-color;
    color: $text-color;

    h3 {
        margin-top: 0;
        color: $text-highlight-color;
    }
}

.modal-error .modal-header {
    background: $error-color;
}

.modal-warning .modal-header {
    background: $warning-color;
}

.modal-footer {
    border-top-color: lighten($panel-bg-color, 10%);
}

/* BUTTONS */

.btn-primary {
    @include button-variant(white, $accent-color, darken($accent-color, 5%));
}

/* TABLES */
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td,
.table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-color: lighten($panel-bg-color, 1%);
}
