<div id="about-page-container">
    <h2>About</h2>

    <p>
        <%= APP_TITLE_HTML %> is an online JavaScript editor that lets you
        upload code to a board powered by
        <a href="https://www.zephyrproject.org/" target="_blank">
            Zephyr OS,
        </a> directly from the browser, taking advantage of WebUSB.
    </p>

    <h3>Features</h3>
    <ul>
        <li>
            WebUSB connectivity to JavaScript Runtime for Zephyr OS powered
            boards
        </li>

        <li>
            Instant JavaScript code execution on target
        </li>

        <li>
            Integrated
            <a href="https://microsoft.github.io/monaco-editor/"
               target="_blank">Monaco code editor</a>
        </li>

        <li>
            Console shell
        </li>

        <li>
            Multiple tabs and Web USB device support
        </li>
    </ul>

    <h3>API</h3>
    Please refer to the following document:
    <a href="https://github.com/01org/zephyr.js/blob/master/docs/API.md"
       target="_blank">
        JavaScript* Runtime for Zephyr* OS (ZJS) API.
    </a>
</div>
