@import "../../scss/main";

:host {
  display: block;
  height: calc(100% - 50px - 60px); // 60px for the footer
  overflow: hidden;
}

.editor-container {
    height: 100%;
    padding: 0 15px;

    .pane, .pane, .tab-container {
        height: 100%;
    }

    .pane {
        padding: 0;

        .pane-header {
            margin: 0;
            padding: 15px;
            font-family: $bold-font;
            font-size: 15px;
            text-transform: uppercase;
        }
    }

    #editor-pane {
        min-width: 360px;

        .pane-header {
            margin-top: 0;
            margin-bottom: 0;
            padding: 8px;
            padding-left: 52px;
            display: inline-block;
        }
    }

    .tab-container /deep/ {
        .tab-content {
            height: calc(100% - 45px);
        }

        .tab-pane {
            height: 100%;
        }

        .nav-tabs  {
            margin-top: 0;
            padding-left: 42px;
            border: 0;
            background-color: $panel-bg-color;

            li {
                padding: 10px 0;

                &:hover:not(:last-child) a:not(.close-tab):not(.active) {
                    color: white;
                    font-weight: bold;
                }

                a {
                    padding: 0 10px;
                    margin: 0;

                    border: none;
                    border-right: 1px solid lighten($panel-bg-color, 5%);
                    border-radius: 0;

                    background-color: inherit;
                    color: $text-color;

                    text-transform: uppercase;

                    &.active {
                        color: $secondary-accent-color;
                    }

                    &.close-tab {
                        text-align: right;
                        margin-left: 10px;
                        padding: 0;

                        &:hover {
                            color: red;
                        }
                    }
                }

                &:last-child {
                    float: right;
                    margin-top: 2px;

                    a {
                        padding: 2px 10px;
                        font-size: 11px;
                        color: $panel-bg-color;
                        background: $accent-color;
                        border-radius: 15px;
                        text-transform: initial;

                        fa {
                            margin-right: 4px;
                            font-weight: normal;
                        }

                        &:hover {
                            background: lighten($accent-color, 5%);
                        }
                    }
                }
            }
        }

        .tab-pane {
            background-color: $panel-bg-color;
        }
    }

    .editor-toolbar {
        background-color: $code-bg-color;
        padding: 5px 15px 30px 42px;

        button {
            background: none;
            border: 0;
            color: $text-color;
            box-shadow: none;
            text-shadow: none;
            font-family: $default-font;
            font-size: 11px;
            font-weight: normal;

            fa {
                margin-right: 4px;
            }
        }
    }

    .monaco-container {
        height: 60%;
        min-height: 250px;

        .monaco-editor {
            height: calc(100% - 75px);
            background-color: $code-bg-color;

            /deep/ {
                .monaco-editor.vs-dark, .monaco-editor-background {
                    background-color: $code-bg-color;
                }
            }
        }
    }

    .horizontal-resize-handle {
        width: 100%;
        text-align: center;
        line-height: 0;
        cursor: ns-resize;
        color: $text-color;
    }

    .console-container {
        position: relative;
        height: calc(40% - 40px);
        overflow: hidden;

        .pane-header {
            position: absolute;
            top: 0;
            width: 100%;
            background-color: $panel-bg-color;
        }

        .console {
            position: absolute;
            top: 32px;
            width: 100%;
            height: calc(100% - 32px);
        }
    }

    .statusbar {
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 11px;
        color: darken($text-color, 10%);
        background-color: $panel-bg-color;
        padding: 5px;
        padding-left: 52px;

        &.warning {
            color: $warning-color;
        }

        &.error {
            color: $error-color;
        }
    }

    .buttons {
        float: right;
        padding: 15px;
        display: inline-block;
    }

    #documentation-pane {
        background-color: $panel-bg-color;
        height: 100%;
        width: 50%;

        #documentation-resize-handle {
            position: absolute;
            top: 0;
            left: 0px;
            height: 100%;
            width: 15px;
            cursor: ew-resize;
            color: $text-color;

            fa {
                position: absolute;
                top: 50%;
                left: 6px;
            }
        }
    }
}
