@import "../../scss/main";

:host {
  display: block;
  height: calc(100% - 50px - 60px); // 60px for the footer
  overflow: hidden;
}

.editor-container {
    height: 100%;
    padding: 0 15px;

    .pane, .pane, .tab-container {
        height: 100%;
    }

    .pane {
        padding: 0;

        .pane-header {
            color: $text-highlight-color;
            margin: 0;
            padding: 15px;
            font-size: 15px;
            text-transform: uppercase;
        }
    }

    #editor-pane {
        min-width: 360px;

        .pane-header {
            margin-top: 0;
            margin-bottom: 0;
            padding: 8px;
            padding-left: 40px;
            display: inline-block;
        }
    }

    .tab-container /deep/ {
        .tab-content {
            height: calc(100% - 40px);
        }

        .tab-pane {
            height: 100%;
        }

        .nav-tabs  {
            background-color: $panel-bg-color;
            border: 0;
            padding-left: 35px;

            li {
                padding: 10px 0;

                &:hover {
                    background-color: lighten($panel-bg-color, 5%);

                    a {
                        color: $accent-color;
                        border-right-color: lighten($panel-bg-color, 5%);
                    }
                }

                &:last-child a {
                    border-right: none;
                }

                a {
                    padding: 0 20px;
                    margin: 0;

                    border: none;
                    border-right: 1px solid lighten($panel-bg-color, 10%);
                    border-radius: 0;

                    background-color: inherit;
                    color: $text-color;

                    text-transform: uppercase;

                    &.active {
                        color: $text-highlight-color;
                        font-weight: bold;
                    }
                }
            }
        }

        .tab-pane {
            background-color: $panel-bg-color;
        }

        .close-tab {
            margin-left: 6px;
        }
    }

    .editor-toolbar {
        background-color: $code-bg-color;
        padding: 5px 15px 30px 45px;

        button {
            background: none;
            border: 0;
            color: $text-color;
            box-shadow: none;
            text-shadow: none;
            font-size: 11px;
            font-weight: normal;

            fa {
                margin-right: 4px;
            }
        }
    }

    .monaco-editor {
        height: calc(75% - 93px);
        min-height: 250px;
        background-color: $code-bg-color;

        /deep/ {
            .monaco-editor.vs-dark, .monaco-editor-background {
                background-color: $code-bg-color;
            }
        }
    }

    .horizontal-resize-handle {
        width: 100%;
        text-align: center;
        line-height: 0;
        cursor: ns-resize;
        color: $text-color;
    }

    .console {
        position: relative;
        height: calc(25% - 43px);
    }

    .status {
        font-size: 10px;
        color: darken($text-color, 10%);
        background-color: $panel-bg-color;
        padding: 5px;
        padding-left: 40px;

        &.warning {
            color: $warning-color;
        }

        &.error {
            color: $error-color;
        }
    }

    .buttons {
        float: right;
        padding: 15px;
        display: inline-block;
    }

    #documentation-pane {
        background-color: $panel-bg-color;
        height: 100%;
        width: 50%;

        #documentation-resize-handle {
            position: absolute;
            top: 0;
            left: 0px;
            height: 100%;
            width: 15px;
            cursor: ew-resize;
            color: $text-color;

            fa {
                position: absolute;
                top: 50%;
                left: 6px;
            }
        }
    }
}
