<div class="row editor-container">
    <div class="col-md-6 pane" id="editor-pane">
        <tabset>
            <tab *ngFor="let tab of tabs"
                 (select)="onTabSelected(tab.id)">

                <template tabHeading>
                    <div *ngIf="tab.id === 999">
                        <fa [name]="'plus'"></fa>
                    </div>

                    <div *ngIf="tab.id !== 999">
                        {{tab.title}}

                        <a *ngIf="tabs.length > 2"
                           href="#"
                           class="close-tab"
                           (click)="onCloseTab(tab.id)">
                            <fa [name]="'close'"></fa>
                        </a>
                    </div>
                </template>

                <div
                    id="monaco-container-{{tab.id}}"
                    class="monaco-container">
                    <div id="editor-toolbar-{{tab.id}}" class="editor-toolbar">
                        <button
                            class="btn btn-default"
                            [disabled]="!mayConnect(tab.id)"
                            (click)="onConnect(tab.id)">
                            <fa [name]="'plug'"></fa> Connect
                        </button>

                        <button
                            class="btn btn-default"
                            [disabled]="!mayUpload(tab.id)"
                            (click)="onUpload(tab.id)">
                            <fa [name]="'upload'"></fa> Upload
                        </button>

                        <button
                            class="btn btn-default"
                            (click)="onFetchFromGitHub(tab.id)">
                            <fa [name]="'github'"></fa> GitHub
                        </button>
                    </div>

                    <div
                        #editor
                        id="editor-{{tab.id}}"
                        class="monaco-editor">
                    </div>
                </div> <!-- ./editor-container -->

                <div class="horizontal-resize-handle" id="editor-resize-handle-{{tab.id}}">
                    <fa [name]="'ellipsis-h'"></fa>
                </div>

                <div
                    id="console-container-{{tab.id}}"
                    class="console-container">
                    <div
                        id="console-header-{{tab.id}}"
                        class="pane-header">
                        Console</div>
                    <div
                        id="console-{{tab.id}}"
                        class="console">
                    </div>
                </div> <!-- ./console-container -->

                <div
                    #statusBar
                    id='statusbar-{{tab.id}}'
                    [ngClass]="['statusbar', getEditorStatus(tab.id).cls]">
                    {{getEditorStatus(tab.id).msg}}
                </div>
            </tab>
        </tabset>
    </div> <!-- /col pane -->

    <div class="col-md-6 pane" id="documentation-pane">
        <div class="vertical-resize-handle" id="documentation-resize-handle">
            <fa [name]="'ellipsis-v'"></fa>
        </div>

        <h2 class="pane-header">Board schematic</h2>
    </div>
</div> <!-- /row editor-container -->


<!-- MODALS -->

<div bsModal #warningModal="bs-modal" class="modal modal-warning fade" tabindex="-1"
    role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="warningModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
          <h3>{{lastMessage.header}}</h3>
          <p class="message-content">{{lastMessage.content}}</p>
      </div>
    </div>
  </div>
</div>

<div bsModal #errorModal="bs-modal" class="modal modal-error fade" tabindex="-1"
    role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="errorModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
          <h3>{{lastMessage.header}}</h3>
          <p class="message-content">{{lastMessage.content}}</p>
      </div>
    </div>
  </div>
</div>

<github-modal #gitHubModal (fileFetched)="onGitHubFileFetched($event)">
</github-modal>
