@import '../../../../../scss/main';

:host {
    display: block;
    padding: 10px;

    #connect-form {
        .form-group {
            input {
                width: 100%;
            }

            &.ip {
                width: 20%;
            }

            &.port {
                width: 20%;
            }

            &.path {
                width: 40%;
            }
        }

        button {
            width: calc(20% - 12px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    #resources {
        padding-top: 40px;

        #no-resources {
            font-size: 20px;
            color: lighten($panel-bg-color, 10%);
        }
    }
}
