<form id="connect-form" class="form-inline">
    <div
        class="form-group ip"
        [class.has-error]="inputServer.ip && !isValidIPAddress()">

        <label class="sr-only" for="ocf-explorer-ip">IP address</label>
        <input type="text"
               class="form-control"
               id="ocf-explorer-ip"
               name="ocf-explorer-ip"
               placeholder="IP address"
               [(ngModel)]="inputServer.ip"/>
    </div> <!-- ./form-group -->

    <div
        class="form-group port"
        [class.has-error]="inputServer.port && !isValidPort()">

        <label class="sr-only" for="ocf-explorer-port">Port</label>
        <input type="number"
               class="form-control"
               id="ocf-explorer-port"
               name="ocf-explorer-port"
               placeholder="Port"
               [(ngModel)]="inputServer.port"/>
    </div> <!-- ./form-group -->

    <div
        class="form-group path"
        [class.has-error]="inputServer.path && !isValidPath()">

        <label class="sr-only" for="ocf-explorer-port">Path</label>
        <input type="text"
               class="form-control"
               id="ocf-explorer-path"
               name="ocf-explorer-path"
               placeholder="Path"
               [(ngModel)]="inputServer.path"/>
    </div> <!-- ./form-group -->

    <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!explorationEnabled()"
        (click)="onExploreClicked($event)">

        <span *ngIf="isExploring()">
            <fa [name]="'spinner'" [spin]="true"></fa>
        </span>
        <span *ngIf="!isExploring()">
            <fa [name]="'plug'"></fa>
        </span>
        Explore

    </button>
</form>

<div id="servers">
    <div *ngFor="let s of connectedServers" class="server">
        <ul class="list-group">
            <li class="list-group-item">
                <fa [name]="'server'"></fa>
                {{s.ip}}:{{s.port}}{{s.path}}

                <span class="exploring" *ngIf="s.isExploring">
                    <fa [name]="'spinner'" [spin]="true"></fa>
                </span>

                <a
                    href="" (click)="onCloseServer(s)" class="close"
                    *ngIf="!s.isExploring">
                    &times;
                </a>
            </li>

            <li
                class="list-group-item"
                *ngFor="let resource of s.resources">

                <fa [name]="'feed'"></fa>
                <sd-ocf-resource [resource]="resource"></sd-ocf-resource>
            </li>

            <li
                class="list-group-item no-resources"
                *ngIf="s.resources.length === 0 && s.isExploring">
                Please wait...
            </li>

            <li
                class="list-group-item no-resources"
                *ngIf="s.resources.length === 0 && !s.isExploring">
                No resources found on this server.
            </li>
        </ul>
    </div>

    <p id="no-servers" class="text-center" *ngIf="connectedServers.length === 0">
        No servers connected. Please use the form above to add one.
    </p>
</div>
