@import '../../../../../scss/main';

:host {
    display: block;
    padding: 10px;

    #connect-form {
        .form-group {
            input {
                width: 100%;
            }

            &.protocol {
                width: 80px;
            }

            &.ip {
                width: 20%;
            }

            &.port {
                width: 20%;
            }

            &.path {
                width: calc(40% - 84px);
            }
        }

        button {
            width: calc(20% - 12px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    #servers {
        padding-top: 40px;

        .table.server {
            table-layout: fixes;

            tr > th, tr > td {
                &.icon {
                    width: 40px;
                    text-align: center;
                }

                &.name {
                    width: calc(70% - 40px);
                }

                &.value {
                    width: calc(30% - 80px);
                    text-align: right;
                }

                &.refresh-action, &.close-action {
                    width: 40px;
                }

                fa {
                    margin: 0;
                }
            }
            .no-resources {
                color: lighten($panel-bg-color, 10%);
            }
        }

        #no-servers {
            font-size: 20px;
            color: lighten($panel-bg-color, 10%);
        }
    }
}
