<div class="path">
    {{resource.path}}
</div>

<div class="value" *ngIf="resource.properties !== undefined">
    <sd-ocf-resource-fan
        [resource]="resource"
        *ngIf="resource.rt === 'oic.r.fan'">
    </sd-ocf-resource-fan>

    <sd-ocf-resource-rgbled
        [resource]="resource"
        *ngIf="resource.rt === 'oic.r.colour.rgb'">
    </sd-ocf-resource-rgbled>

    <sd-ocf-resource-temperature
        [resource]="resource"
        *ngIf="resource.rt === 'oic.r.temperature'">
    </sd-ocf-resource-temperature>
</div>

<div class="value" *ngIf="resource.properties === undefined">
    <fa [name]="'spinner'" [spin]="true"></fa>
</div>
