@import '../../../../../scss/main';

:host {
    position: absolute;
    bottom: 0;
    width: 100%;

    .statusbar {
        font-size: 12px;
        line-height: 12px;
        color: darken($text-color, 10%);
        background-color: $panel-bg-color;
        padding: 6px 0;
        padding-left: 52px;

        &.warning {
            color: $warning-color;
        }

        &.error {
            color: $error-color;
        }
    }
}
