@import '../../../../../scss/main';

:host {
    height: 40%;
    display: block;

    .console-container {
        position: relative;
        height: 100%;
        overflow: hidden;

        .pane-header {
            position: absolute;
            top: 0;
            width: 100%;
            padding-left: 52px;
        }

        .console {
            position: absolute;
            top: 40px;
            width: 100%;
            height: calc(100% - 40px);
        }
    }
}
