@import '../../../../../scss/main';

:host {
    height: 100%;

    .console-container {
        position: relative;
        height: 100%;
        overflow: hidden;
        background-color: $code-bg-color;

        .console {
            position: absolute;
            top: 10px;
            left: 10px;
            width: calc(100% - 10px);
            height: calc(100% - 10px);
        }

    }

    .console-resizing-overlay {
        display: none;
        position: absolute;
        top: 0;
        z-index: 2;
        height: 100%;
        width: 100%;
        background-color: transparent;
    }
}
