<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Origin Trial Token, feature = WebUSB, origin = https://01org.github.io, expires = 2017-03-06 -->
  <meta http-equiv="origin-trial" data-feature="WebUSB" data-expires="2017-03-06" content="AkRcuEqVpjbgsB06q3AbpiRYnok4LdCNLquQ0ywCSW5P24Zg7K6zUxjbC7frbGjEuPhM6ryb2CVVpBKJYUifkAUAAABPeyJvcmlnaW4iOiJodHRwczovLzAxb3JnLmdpdGh1Yi5pbzo0NDMiLCJmZWF0dXJlIjoiV2ViVVNCIiwiZXhwaXJ5IjoxNDg4ODQ0Nzk5fQ==">

  <!-- inject:css -->
  <!-- endinject -->

  <style>
    html, body {
      height: 100%;
    }
  </style>
</head>
<body>

  <sd-app>Loading...</sd-app>

  <script>
    // Fixes undefined module function in SystemJS bundle
    function module() {};

    // Tricks Monaco loader into thinking we are in a node environment.
    // This, in turns, makes it use its own 'require' function, as lazy
    // loading is currently unavailable in angular-seed production builds.
    module.exports = {};
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <% if (BUILD_TYPE === 'dev') { %>
  <script src="<%= APP_BASE %>app/system-config.js"></script>
  <% } %>

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <% if (BUILD_TYPE === 'dev') { %>
  <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e.stack || e,
        'Not expecting this error? Report it at https://github.com/01org/zephyr.js/issues');
    });

  System.config({
      map: {
          'github-api': 'github-api/dist/GitHub.bundle'
      }
  });
  </script>
  <% } %>

</body>
</html>
