<sd-navbar id="navbar"></sd-navbar>

<div id="editor-page-container" class="row">
    <div class="col-md-6 pane" id="editor-pane">
        <ul #tabMenu class="nav nav-tabs" role="tablist">
            <li
                *ngFor="let tab of tabs" role="presentation"
                [ngClass]="{'nav-item': true, 'active': tab.active}">
                <a
                    class="nav-link"
                    href="#tab-{{tab.id}}"
                    role="tab"
                    data-toggle="tab">

                    <div class="tab-title">
                        {{tab.title}}
                    </div>

                    <a
                       href=""
                       class="close-tab"
                       (click)="onCloseTab(tab.id)">
                        <fa [name]="'close'"></fa>
                    </a>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div
                *ngFor="let tab of tabs"
                role="tabpanel"
                [ngClass]="{'tab-pane': true, 'active': tab.active}"
                id="tab-{{tab.id}}">

                <sd-monaco
                    [tab]="tab"
                    (onWarning)="onWarning($event)"
                    (onError)="onError($event)">
                </sd-monaco>

                <div class="horizontal-resize-handle" id="editor-resize-handle-{{tab.id}}">
                    <fa [name]="'ellipsis-h'"></fa>
                </div>

                <sd-console [tab]="tab"></sd-console>
                <sd-statusbar [tab]="tab"></sd-statusbar>
            </div> <!-- ./tab-pane -->
        </div> <!-- ./tab-content -->

        <button
            id="new-tab-button"
            [hidden]="!mayAddTab()"
            (click)="newTab()">
            <fa [name]="'plus'"></fa> New sketch
        </button>
    </div> <!-- /col pane -->

    <div class="col-md-6 pane" id="board-explorer-pane">
        <div class="vertical-resize-handle" id="board-explorer-resize-handle">
            <fa [name]="'ellipsis-v'"></fa>
        </div>

        <sd-board-explorer></sd-board-explorer>
    </div>
</div> <!-- ./row -->


<!-- MODALS -->

<div #warningModal class="modal modal-warning fade" tabindex="-1"
     role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseWarning()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
          <h3>{{lastMessage.header}}</h3>
          <p class="message-content">{{lastMessage.body}}</p>
      </div>
    </div>
  </div>
</div>

<div #errorModal class="modal modal-error fade" tabindex="-1"
     role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseError()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
          <h3>{{lastMessage.header}}</h3>
          <p class="message-content">{{lastMessage.body}}</p>
      </div>
    </div>
  </div>
</div>

<sd-footer id="footer"></sd-footer>
