@import "../../../scss/main";

:host {
    display: block;
    height: calc(100% - 50px - 60px); // navbar and footer

    .pane {
        height: 100%;
        padding: 0;

        /deep/ .pane-header {
            margin: 0;
            padding: 12px;
            font-family: $bold-font;
            font-size: 15px;
            text-transform: uppercase;
            background-color: $panel-bg-color;
        }
    }

    .nav-tabs  {
        $tab-color: #abacaf;
        $active-tab-color: #ffffff;

        margin-top: 0;
        padding: 8px 0;
        padding-left: 36px;
        border: 0;
        background-color: $panel-bg-color;
        height: 40px;
        width: calc(100% - 90px); // for the new tab button

        > li {
            padding: 0;
            padding-left: 16px;
            overflow: hidden;
            max-width: 140px;
            font-size: 12px;

            &.active > a, &.active .close-tab {
                color: $active-tab-color;
            }

            &:last-child  {
                > a {
                    // No border for last tab.
                    border-right: 1px solid transparent;
                }
            }

            > a {
                padding: 0;
                margin: 0;

                border: none;
                border-right: 1px solid lighten($panel-bg-color, 10%);
                border-radius: 0;

                background-color: inherit;
                color: $tab-color;

                text-transform: uppercase;
                line-height: 24px;

                overflow: hidden;
                white-space: nowrap;

                &:hover:not(.active) {
                    color: $active-tab-color;
                }

                > .tab-title {
                    width: calc(100% - 24px);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                > .close-tab {
                    position: absolute;
                    top: 0px;
                    right: 16px;
                    width: 16px;
                    padding: 0;

                    font-family: $thin-font;
                    font-size: 16px;
                    color: $tab-color;
                    text-align: center;

                    &:hover {
                        color: #e67171;
                        text-decoration: none;
                    }
                }
            }
        }

        @for $i from 1 through 20 {
            li:first-child:nth-last-child(#{$i}),
            li:first-child:nth-last-child(#{$i}) ~ li {
                width: 100% / $i;
            }
        }
    }

    .split-pane-content-primary, .split-pane-content-secondary {
        height: 100%;
        position: relative;
        background-color: $panel-bg-color;

        .tab-content {
            height: calc(100% - 40px); // for the tab bar

            .tab-pane {
                height: 100%;
            }
        }
    }

    .split-pane-content-primary {
        #new-tab-button {
            position: absolute;
            top: 12px;
            right: 10px;
            max-height: 20px;

            padding: 2px 10px;
            font-size: 11px;
            font-weight: normal;
            color: $panel-bg-color;
            border: none;
            border-radius: 15px;
            text-align: center;
            text-shadow: none;

            fa {
                margin-right: 4px;
                font-weight: normal;
            }
        }
    }

    .split-pane-content-secondary {
        .nav-tabs {
            padding-left: 10px;
            width: auto;

            li {
                width: initial !important;
                max-width: initial;
                padding-left: initial !important;

                a {
                    padding: 0 16px;
                }
            }
        }
    }

    /deep/ vertical-split-separator {
        width: 6px;
        border: none;
        background-color: $navbar-bg-color;

        .handle {
            background-color: darken($accent-color, 10%);
        }

        &:hover {
            background-color: lighten($navbar-bg-color, 10%);
        }
    }
}
