<vertical-split-pane
    primary-component-minsize="400"
    secondary-component-minsize="400"
    local-storage-key="editor-split-pane"
    (on-begin-resizing)="onBeginResizing($event)"
    (on-ended-resizing)="onEndedResizing($event)">

    <div class="split-pane-content-primary">
        <ul #tabMenu class="nav nav-tabs" role="tablist">
            <li
                *ngFor="let tab of tabs" role="presentation"
                [ngClass]="{'nav-item': true, 'active': tab.active}">
                <a
                    class="nav-link"
                    href="#tab-{{tab.id}}"
                    role="tab"
                    data-toggle="tab"
                    (click)="onActivateTab(tab)">

                    <div class="tab-title">
                        {{tab.title}}
                    </div>

                    <a
                       href=""
                       class="close-tab"
                       (click)="onCloseTab(tab.id)">
                        &times;
                    </a>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div
                *ngFor="let tab of tabs"
                role="tabpanel"
                [ngClass]="{'tab-pane': true, 'active': tab.active}"
                id="tab-{{tab.id}}">

                <sd-monaco
                    [tab]="tab"
                    (onWarning)="onWarning($event)"
                    (onError)="onError($event)">
                </sd-monaco>

                <sd-statusbar [tab]="tab"></sd-statusbar>
            </div> <!-- ./tab-pane -->
        </div> <!-- ./tab-content -->

        <button
            id="new-tab-button"
            class="btn btn-primary"
            [disabled]="!mayAddTab()"
            (click)="newTab()">
            <fa [name]="'plus'"></fa> New tab
        </button>
    </div> <!-- ./split-pane-contenty-primary -->

    <div class="split-pane-content-secondary">
        <ul #explorerMenu class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item active">
                <a class="nav-link" href="#console" role="tab"
                   data-toggle="tab">
                    Console
                </a>
            </li>

            <li role="presentation" class="nav-item">
                <a class="nav-link" href="#board-explorer" role="tab"
                   data-toggle="tab">
                    Board schematic
                </a>
            </li>

            <li role="presentation" class="nav-item">
                <a class="nav-link" href="#ocf-explorer" role="tab"
                   data-toggle="tab">
                    OCF Explorer
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="console">
                <sd-console
                    *ngFor="let tab of tabs"
                    [tab]="tab"
                    [hidden]="!tab.active">
                </sd-console>
            </div>

            <div role="tabpanel" class="tab-pane" id="board-explorer">
                <sd-board-explorer></sd-board-explorer>
            </div>

            <div role="tabpanel" class="tab-pane" id="ocf-explorer">
                <sd-ocf-explorer
                    (onWarning)="onWarning($event)"
                    (onError)="onError($event)">
                </sd-ocf-explorer>
            </div>
        </div> <!-- ./tab-content -->
    </div> <!-- ./split-pane-content-secondary -->
</vertical-split-pane>

<simple-notifications [options]="notificationOptions"></simple-notifications>
