@import "../../../scss/main";

:host {
    display: block;
    height: calc(100% - 50px - 60px); // navbar and footer

    > #editor-page-container {
        height: 100%;
        margin: 0;
    }

    .pane {
        height: 100%;
        padding: 0;

        /deep/ .pane-header {
            margin: 0;
            padding: 12px;
            font-family: $bold-font;
            font-size: 15px;
            text-transform: uppercase;
            background-color: $panel-bg-color;
        }
    }

    .nav-tabs  {
        $tab-color: #abacaf;
        $active-tab-color: #ffffff;

        margin-top: 0;
        padding: 8px 0;
        padding-left: 36px;
        border: 0;
        background-color: $panel-bg-color;
        height: 40px;

        > li {
            padding: 0;
            padding-left: 16px;
            overflow: hidden;
            max-width: 140px;
            font-size: 12px;

            &.active > a, &.active .close-tab {
                color: $active-tab-color;
            }

            &:last-child  {
                > a {
                    // No border for last tab.
                    border-right: 1px solid transparent;
                }
            }

            > a {
                padding: 0;
                margin: 0;

                border: none;
                border-right: 1px solid lighten($panel-bg-color, 10%);
                border-radius: 0;

                background-color: inherit;
                color: $tab-color;

                text-transform: uppercase;
                line-height: 24px;

                overflow: hidden;
                white-space: nowrap;

                &:hover:not(.active) {
                    color: $active-tab-color;
                }

                > .tab-title {
                    width: calc(100% - 24px);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                > .close-tab {
                    position: absolute;
                    top: 0px;
                    right: 16px;
                    width: 16px;
                    padding: 0;

                    font-family: $thin-font;
                    font-size: 16px;
                    color: $tab-color;
                    text-align: center;

                    &:hover {
                        color: #e67171;
                        text-decoration: none;
                    }
                }
            }
        }

        @for $i from 1 through 20 {
            li:first-child:nth-last-child(#{$i}),
            li:first-child:nth-last-child(#{$i}) ~ li {
                width: 100% / $i;
            }
        }
    }

    #editor-pane {
        min-width: 360px;

        .tab-content {
            height: calc(100% - 40px);

            .tab-pane {
                height: 100%;
            }
        }

        #new-tab-button {
            position: absolute;
            top: 12px;
            right: 2px;
            max-height: 20px;

            padding: 2px 10px;
            font-size: 11px;
            color: $panel-bg-color;
            background: $accent-color;
            border: none;
            border-radius: 15px;
            text-align: center;

            fa {
                margin-right: 4px;
                font-weight: normal;
            }

            &:hover {
                background: lighten($accent-color, 5%);
            }
        }

        .horizontal-resize-handle {
            width: 100%;
            text-align: center;
            line-height: 0;
            cursor: ns-resize;
            color: $text-color;
        }
    } // ./editor-pane

    #explorer-pane {
        background-color: $panel-bg-color;
        height: 100%;
        width: 50%;

        .vertical-resize-handle {
            position: absolute;
            top: 0;
            left: 0px;
            height: 100%;
            width: 15px;
            cursor: ew-resize;
            color: $text-color;

            fa {
                position: absolute;
                top: 50%;
                left: 6px;
            }
        }

    .nav-tabs {
            padding-left: 10px;
        }
    } // ./explorer-pane
}
