<div id="editor-page-container" class="row">
    <div class="col-md-6 pane" id="editor-pane">
        <ul #tabMenu class="nav nav-tabs" role="tablist">
            <li
                *ngFor="let tab of tabs" role="presentation"
                [ngClass]="{'nav-item': true, 'active': tab.active}">
                <a
                    class="nav-link"
                    href="#tab-{{tab.id}}"
                    role="tab"
                    data-toggle="tab">

                    <div class="tab-title">
                        {{tab.title}}
                    </div>

                    <a
                       href=""
                       class="close-tab"
                       (click)="onCloseTab(tab.id)">
                        &times;
                    </a>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div
                *ngFor="let tab of tabs"
                role="tabpanel"
                [ngClass]="{'tab-pane': true, 'active': tab.active}"
                id="tab-{{tab.id}}">

                <sd-monaco
                    [tab]="tab"
                    (onWarning)="onWarning($event)"
                    (onError)="onError($event)">
                </sd-monaco>

                <div class="horizontal-resize-handle" id="editor-resize-handle-{{tab.id}}">
                    <fa [name]="'ellipsis-h'"></fa>
                </div>

                <sd-console [tab]="tab"></sd-console>
                <sd-statusbar [tab]="tab"></sd-statusbar>
            </div> <!-- ./tab-pane -->
        </div> <!-- ./tab-content -->

        <button
            id="new-tab-button"
            [hidden]="!mayAddTab()"
            (click)="newTab()">
            <fa [name]="'plus'"></fa> New tab
        </button>
    </div> <!-- /col pane -->

    <div class="col-md-6 pane" id="explorer-pane">
        <div class="vertical-resize-handle" id="explorer-resize-handle">
            <fa [name]="'ellipsis-v'"></fa>
        </div>

        <ul #explorerMenu class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item active">
                <a class="nav-link" href="#board-explorer" role="tab"
                   data-toggle="tab">
                    Board schematic
                </a>
            </li>

            <li role="presentation" class="nav-item">
                <a class="nav-link" href="#ocf-explorer" role="tab"
                   data-toggle="tab">
                    OCF Explorer
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="board-explorer">
                <sd-board-explorer></sd-board-explorer>
            </div>
            <div role="tabpanel" class="tab-pane" id="ocf-explorer">
                <sd-ocf-explorer></sd-ocf-explorer>
            </div>
        </div> <!-- ./tab-content -->
    </div>
</div> <!-- ./row -->

<simple-notifications [options]="notificationOptions"></simple-notifications>
