@import '../../../scss/main';

:host {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 20px;

    background-color: $footer-bg-color;

    text-align: right;

    .app-name {
        font-family: $thin-font;
        text-transform: uppercase;
    }

    a {
        color: $accent-color;
        text-decoration: none;
        font-style: italic;

        &:hover {
            &:hover, &:focus {
                color: lighten($accent-color, 5%);
            }
        }
    }
}
