<footer>
    <div class="fluid-container">
        <span class="app-name"><%= APP_TITLE %></span>
        /
        <span class="app-version">
            <a href="https://github.com/01org/zephyrjs-ide/releases" target="_blank">
                v<%= VERSION %>
            </a>
        </span>

        <% if (GIT_REV !== '') { %>
        /
        <span class="app-rev">
            <a href="https://github.com/01org/zephyrjs-ide/commits" target="_blank">
                <%= GIT_REV %>
            </a>
        </span>
        <% } %>
    </div>
</footer>
