@import '../scss/main';

:host {
    background: $panel-bg-color;
    color: $text-color;
    display: block;
    height: 100%;
    font-family: $default-font;

    h1, h2, h3, h4, h5, h6, strong {
        color: $text-highlight-color;
        font-family: $bold-font;
        font-weight: bold;
    }

    a {
        color: $accent-color;
    }
}
